<article class="teaser teaser-{{post.post_type}}" id="teaser-{{post.ID}}">
	{% block content %}
		<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
		{% if post.get_thumbnail %}
			<img src="{{post.thumbnail.src}}" alt="{{post.thumbnail.alt ? post.thumbnail.alt : post.thumbnail.title}}">
		{% endif %}
		<p>{{post.get_preview}}</p>
	{% endblock %}
</article>
